<%= link_to 'Videos Pendentes', analysis_videos_path %>
<h1>Área do administrador</h1>

<%= link_to 'Registrar nova playlist', new_playlist_path %>
<%= render 'game_categories/game_categories' %>

<div>
  <p> Jogos cadastrados na plataforma: </p>
    <% if @games.any? %>
    <% @games.each do |game| %>
      <%= "Nome: #{game.name}" %>
      <%= "Categorias: #{game.game_categories_list_as_string}" %>
      <%= "Adicionado em #{l game.created_at.to_date}, por #{game.admin.email}"%>
    <% end %>
  <% else %>
    <p>Nenhum jogo registrado.</p>
  <% end %>
  <%= link_to 'Registrar novo jogo', new_game_path%>
</div>
