<%= link_to 'Ver Streamers', streamer_profiles_path %>
<%= link_to 'Ver Vídeos Pendentes', analysis_videos_path %>
<%= link_to 'Ver Planos de Assinatura', plans_path %>
<%= link_to 'Ver Playlists', playlists_path %>

<h1>Área do administrador</h1>

<ol>
  <li><%= link_to 'Cadastrar Administrador', new_admin_path %></li>
  <li><%= link_to 'Cadastrar Streamer', new_streamer_path %></li>
  <li><%= link_to 'Cadastrar Categoria de Jogos', new_game_category_path %></li>
  <li><%= link_to 'Cadastrar Jogo', new_game_path%></li>
  <li><%= link_to 'Cadastrar Playlist', new_playlist_path %></li>
  <li><%= link_to 'Cadastrar Plano', new_plan_path %></li>
</ol>

<%= render 'game_categories/game_categories' %>
<%= render 'games/games' %>
