<h1> Área do administrador </h1>

<div>
  <p> Categorias de jogos atualmente cadastradas na plataforma: </p>
  <% if @game_categories.any? %>
    <% @game_categories.each do |category| %>
      <%= "#{category.name} || criada em: #{category.creation_date} por #{category.admin.email}" %>
    <% end %>
  <% else %>
    <p>Nenhuma categoria de jogo registrada.</p>
  <% end %>
  <p><%= link_to 'Registrar nova categoria de jogos', new_game_category_path %></p>
</div>
<div>
  <p> Jogos cadastrados na plataforma: </p>
    <% if @games.any? %>
    <% @games.each do |game| %>
      <%= "Nome: #{game.name}" %>
      <%= "Categorias: #{game.game_categories_list_as_string}" %>
      <%= "Adicionado em #{game.creation_date}, por #{game.admin.email}"%>
    <% end %>
  <% else %>
    <p>Nenhum jogo registrado.</p>
  <% end %>
  <%= link_to 'Registrar novo jogo', new_game_path%>