<tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:dark:text-gray-400">
  <td class="px-4 py-3 text-sm text-center"> <%= link_to @video.name, @video %> </td>
  <td class="px-4 py-3">
    <div class="flex items-center text-sm justify-center">
      <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
        <img class="object-cover w-full h-full rounded-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" loading="lazy" />
        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
      </div>
      <div>
        <span class="font-semibold"> <%= @video.streamer.email %> </span>
      </div>
    </div>
  </td>
  <td class="px-4 py-3 text-sm"> <%= @video.game.name %> </td>
  <td class="px-4 py-3 text-xs">
    <span class="px-2 py-1 font-semibold leading-tight text-<%= @color %>-700 bg-<%= @color %>-100 rounded-full"> <%= Video.human_enum_name :status,  @video.status %> </span>
  </td>
  <td class="px-4 py-3 text-sm"> <%= l @video.created_at.to_date %> </td>
</tr>
