<h1> Crie seu perfil </h1>

<p> Para avançar em seu cadastro, você deve preencher seu perfil com todos os 
dados abaixo. </p>

<%= form_with model: @client_profile do |f| %>

<div>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
  <% @client_profile.errors.full_messages_for(:full_name).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :social_name %>
  <%= f.text_field :social_name %>
  <% @client_profile.errors.full_messages_for(:social_name).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :birth_date %>
  <%= f.date_field :birth_date %>
  <% @client_profile.errors.full_messages_for(:birth_date).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :cpf, 'CPF (apenas números)' %>
  <%= f.number_field :cpf %>
  <% @client_profile.errors.full_messages_for(:cpf).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :cep %>
  <%= f.number_field :cep %>
  <% @client_profile.errors.full_messages_for(:cep).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :residential_address %>
  <%= f.text_field :residential_address %>
  <% @client_profile.errors.full_messages_for(:residential_address).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :residential_number %>
  <%= f.number_field :residential_number%>
  <% @client_profile.errors.full_messages_for(:residential_number).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <% @client_profile.errors.full_messages_for(:city).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <% @client_profile.errors.full_messages_for(:state).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :age_rating%>
  <%= f.select :age_rating, ['L', '10', '12', '14', '16', '18'] %>
  <% @client_profile.errors.full_messages_for(:age_rating).each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
</div>

  <%= f.submit 'Criar perfil' %>
<% end %>