<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>  

<%= form_with model: @video do |video|%>
  <%= video.label :name %>
  <%= video.text_field :name %><br>

  <%= video.label :description %>
  <%= video.text_field :description %><br>

  <%= video.label :link %>
  <%= video.text_field :link %><br>

  <%= video.submit 'Enviar' %>
<% end %>