<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>  

<%= form_with model: @video do |video|%>
  <%= video.label :name %>
  <%= video.text_field :name %><br>

  <%= video.label :description %>
  <%= video.text_field :description %><br>

  <%= video.label :link %>
  <%= video.text_field :link %><br>

  <%= video.fields_for :price, @price do |price| %>
    <%= price.check_box :loose %>
    <%= price.label :loose, 'Avulso' %><br>
    <%= price.label :value, 'Preço' %>
    <%= price.text_field :value %><br>
  <% end %>

  <%= video.submit 'Enviar' %>
<% end %>