<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>  

<%= form_with model: @video do |video|%>
  <%= video.label :name %>
  <%= video.text_field :name %><br>

  <%= video.label :description %>
  <%= video.text_field :description %><br>

  <%= video.label :link %>
  <%= video.text_field :link %><br>

  
  <%= video.label :name_game %>
  <%= video.collection_select :name_game, Game.all, :id, :name, {prompt: 'Escolha um joga'}%><br>

  <% video.fields_for :duration, @duration do |c| %>
    <%= video.label :minutes %>
    <%= video.text_field :minutes %>:
    <%= video.label :minutes %>
    <%= video.text_field :minutes %><br> 
  <% end %>

  <%= Video.human_attribute_name(:adult) %> : 
  <%= video.check_box :adult %>
  <%= video.label :adult, '+18' %><br>

  <%= video.check_box :loose %>
  <%= video.label :loose %><br>

  <%= video.submit 'Enviar' %>
<% end %>