<div style="padding:56.25% 0 0 0;position:relative;">
  <iframe src="https://player.vimeo.com/video/<%= video.link %>?autoplay=1&background=0" 
          style="position:absolute;top:0;left:0;width:100%;height:100%;" 
          frameborder="0" 
          allow="autoplay; fullscreen; picture-in-picture" 
          allowfullscreen>
  </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<h1><%= video.name %></h1>
<h3>Por: <%= link_to @streamer_profile.name, streamer_profile_path(@streamer_profile) %></h3>
<p>
  <% if video.visualization == 1 %>
    <%= "#{video.visualization} #{Video.human_attribute_name(:visualization)} -" %>
  <% else %>
    <%= "#{video.visualization} #{Video.human_attribute_name(:visualizations)} -" %>
  <% end %>
  <%= l(video.created_at.to_date) %>
</p>

<dl>
  <dt><%= Video.human_attribute_name(:description) %>:</dt>
  <dd><%= video.description %></dd>

  <dt><%= Video.human_attribute_name(:game_id) %>:</dt>
  <dd><%= video.game.name %></dd>

  <dt><%= Game.human_attribute_name(:game_category_ids) %>:</dt>
  <dd><%= video.game.game_categories_list_as_string %></dd>

  <dt><%= Video.human_attribute_name(:loose) %>:</dt>
  <% if @price&.loose? %>
    <dd><%= 'Sim' %></dd>

    <dt><%= Video.human_attribute_name(:value) %>:</dt>
    <dd><%= number_to_currency(@price&.value) %> </dd>
  <% else %>
    <dd><%= 'Não' %></dd>
  <% end %>
</dl>
