<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>  

<%= form_with model: @video do |video|%>

  <%= video.label :name %>
  <%= video.text_field :name %><br>

  <%= video.label :description %>
  <%= video.text_field :description %><br>

  <%= video.label :link %>
  <%= video.text_field :link %><br>

  <%= video.label :game_name %>
  <%= video.text_field :game_name %><br>

  <%= video.label :duration %>
  <%= video.text_field :duration %><br> 

  <%= video.check_box :adult %>
  <%= video.label :adult %><br>

  <%= video.check_box :loose %>
  <%= video.label :loose %><br>
  
  <%= video.label :game_category %>
  <%= video.collection_select :game_category_id, GameCategory.order(:name), :id, :name, prompt: true %><br>

  <%= video.submit 'Enviar' %>
<% end %>