<dl>
    <dt><%= Video.human_attribute_name(:name) %>: </dt>
    <dd><%= @video.name %></dd>

    <dt><%= Video.human_attribute_name(:description) %>: </dt>
    <dd> <%= @video.description %> </dd>

    <%= link_to Video.human_attribute_name(:video), @video.link %>

    <% if admin_signed_in? || streamer_signed_in? %>
        <dt> <%= Video.human_attribute_name(:status) %>: </dt>
        <dd> <%= @video.status %> </dd>

        <dt> <%= Video.human_attribute_name(:feed_back) %>: </dt>
        <dd> <%= @video.feed_back %> </dd>
    <% end %>
</dl>

<% if admin_signed_in?  && @video.pending?%>
    <%= link_to 'Aprovar', approve_video_path, method: :post %>
    <%= link_to 'Rejeitar', refuse_video_path, method: :post %>
<% end %>

<% if admin_signed_in? && !@video.reproved_with_feedback? %>
    <ul>
        <% @video.errors.full_messages_for(:feed_back).each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>  

    <%= form_with url: refuse_video_path(@video) do |form| %>
        <%= form.label :feed_back, t('.feed_back') %>
        <%= form.text_field :feed_back %>
        <%= form.submit 'Enviar' %>
    <% end %>
<% end %>

<%= link_to 'Voltar', analysis_videos_path %>
