<% if admin_signed_in? %>
  <p><%= link_to 'Voltar', analysis_videos_path %></p>

  <% if @video.pending? %>
    <%= link_to 'Aprovar Vídeo', approve_video_path, method: :post %>

    <%= form_with url: refuse_video_path(@video) do |form| %>
      <div>
        <%= form.label :feed_back, t('.feed_back') %><br>
        <%= form.text_area :feed_back, rows: 5, cols: 50, placeholder: Video.human_attribute_name(:feed_back) %>
        <% @video.errors.full_messages_for(:feed_back).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>

      <%= form.submit 'Recusar Vídeo' %>
    <% end %>
  <% end %><br>
<% end %>

<%= render @video %>

<% if client_signed_in? && @price&.loose? %>
  <%= link_to 'Comprar Video', payment_video_path(@video) %>
<% end %>
