<% if admin_signed_in? %>

  <% if controller_name.eql? 'admins' %>
    <p><%= link_to 'Área do administrador', admin_area_admins_path, class: "nav-link-dark hover:text-gray-700 btn-line-dark" %>
  <% else %>
    <p><%= link_to 'Área do administrador', admin_area_admins_path, class: "nav-link btn-line" %>
  <% end %>
  <div class="dropdown" data-controller="nav"> 

    <button id="b-drop" href="" data-action="nav#toggle"
            class="p-2 btn-expanse">
      <span>
        <%= current_admin.email %>
      </span>
    </button>

    <ul class="dropdown-toggle hidden text-gray-500" id="drop" data-nav-target="drop1"> 
      <%= form_with url: destroy_admin_session_path, method: :delete do%>
        <li> <%= button_tag "Sair", class: "dropdown-menu-mid rounded bg-white border-l-4  hover:border-blue-500" %>
      <% end %>
    </ul>

  </div>

<% end %>

<% if client_signed_in? %>
  <%= link_to 'Ver todos os videos avulsos', videos_path, class: "nav-link"%>
  <div class="dropdown" data-controller="nav"> 

    <button id="b-drop" href="" data-action="nav#toggle"
                                class="p-2 btn-expanse">
      <% if current_client.client_profile? %>
        <span>
          <%= current_client.client_profile.full_name %>
        </span>
      <% else %>
        <span>
          <%= current_client.email %>
        </span>
      <% end %>
    </button>

    <ul class="dropdown-toggle hidden text-gray-500" id="drop" data-nav-target="drop1"> 
      <% if current_client.client_profile? %>
        <%= link_to 'Meu Perfil', current_client.client_profile,
            class: "dropdown-menu-top bg-white border-l-4 hover:border-blue-500" %>
      <% else %>
        <%= link_to 'Meu Perfil', new_client_profile_path,
            class: "dropdown-menu-top bg-white border-l-4 hover:border-blue-500" %>
      <% end %>
      <%= form_with url: destroy_client_session_path, method: :delete do %>
        <li> <%= button_tag "Sair", class: "dropdown-menu-mid rounded bg-white border-l-4 hover:border-blue-500" %>
      <% end %>
    </ul>

  </div>
<% end %>

<% if streamer_signed_in? %>
  <% if current_streamer.streamer_profile.present? %>
    <%= link_to "Meus Vídeos", my_videos_videos_path, class: 'nav-link' %>
    <%= link_to 'Cadastrar Vídeo', new_video_path, class: 'nav-link' %>
  <% end %>
  <div class="dropdown" data-controller="nav"> 
    <button id="b-drop" href="" data-action="nav#toggle"
                                class="p-2 btn-expanse">
      <% if current_streamer.streamer_profile.present? %>
        <span>
          <%= current_streamer.streamer_profile.name %>
        </span>
      <% else %>
        <span>
          <%= current_streamer.email %>
        </span>
      <% end %>
    </button>
    <ul class="dropdown-toggle hidden text-gray-500" id="drop" data-nav-target="drop1"> 
      <li>
        <%= link_to "Meu Perfil", current_streamer.streamer_profile || new_streamer_profile_path,
          class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %>
      </li>
      <%= form_with url: destroy_streamer_session_path, method: :delete do%>
        <li> <%= button_tag "Sair", class: "dropdown-menu-botton bg-white border-l-4  hover:border-blue-500" %>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless admin_signed_in? or client_signed_in? or streamer_signed_in? %>

  <div data-controller="nav">
    <div class="dropdown mx-5">

      <button data-action="nav#toggle" href="" data-nav-target="button"
        class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-indigo-600 hover:ring-4 hover:ring-indigo-300 hover:text-white transition duration-300">
        Entrar
      </button>

      <ul class="dropdown-toggle hidden text-gray-500" id="drop" data-nav-target="drop1">
        <li> <%= link_to "Como Administrador", new_admin_session_path, class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %> </li>
        <li> <%= link_to "Como Assinante", new_client_session_path, class: "dropdown-menu-mid bg-white border-l-4  hover:border-blue-500" %> </li>
        <li> <%= link_to "Como Streamer", new_streamer_session_path, class: "dropdown-menu-botton bg-white border-l-4  hover:border-blue-500" %> </li>
      </ul>

    </div>

    <div class="dropdown">

      <button data-action="nav#toggle_drop" href="" data-nav-target="button2"
        class="py-2 px-2 font-medium text-white bg-indigo-700 rounded hover:bg-indigo-600 transition duration-300">
        Inscreva-se
      </button>

      <ul class="dropdown-toggle hidden text-gray-500" id="drop-in" data-nav-target="drop2">
        <li> <%= link_to "Como novo Assinante", new_client_registration_path, class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %> </li>
        <li> <%= link_to "Como novo Streamer", new_streamer_registration_path, class: "dropdown-menu-botton bg-white border-l-4  hover:border-blue-500" %> </li>
      </ul>
    </div>
  </div>

<% end %>
