<% if @streamer_profile.photo.attached? %>
    <p><%= image_tag(@streamer_profile.photo, size: "200x200", alt: 'profile_photo', class: 'profile_photo' )%></p>
<% else %>
  <p><%= image_tag("streamer_photo.svg", size: "200x200", alt: 'profile_photo', class: 'profile_photo') %></p>
<% end %>

<h2>Perfil de <%= @streamer_profile.name %></h2>
<% if @streamer_profile.owner?(current_streamer) %>
  <%= link_to "Editar Perfil", edit_streamer_profile_path %>
<% end %>

<dl>
  <dt><%= t(:description, scope: "activerecord.attributes.streamer_profile") %>:</dt>
  <dd><%= @streamer_profile.description %></dd>

  <dt><%= t(:facebook, scope: "activerecord.attributes.streamer_profile") %>:</dt>
  <% if @streamer_profile.facebook.blank? %>
    <dd>Não possui</dd>
  <% else %>
    <dd><%= link_to @streamer_profile.facebook, @streamer_profile.facebook %></dd>
  <% end %>

  <dt><%= t(:instagram, scope: "activerecord.attributes.streamer_profile") %>:</dt>
  <% if @streamer_profile.instagram.blank? %>
    <dd>Não possui</dd>
  <% else %>
    <dd><%= link_to @streamer_profile.instagram, @streamer_profile.instagram %></dd>
  <% end %>

  <dt><%= t(:twitter, scope: "activerecord.attributes.streamer_profile") %>:</dt>
  <% if @streamer_profile.twitter.blank? %>
    <dd>Não possui</dd>
  <% else %>
    <dd><%= link_to @streamer_profile.twitter, @streamer_profile.twitter %></dd>
  <% end %>
</dl>
