<h2><%= plan.name %></h2>
<h3><%= plan.description %></h3>

<dl>
  <dt><%= t(:value, scope: "activerecord.attributes.plan") %>:</dt>
  <dd><%= number_to_currency plan.value %></dd>

  <dd>
  <dt><%= t(:content_streamer, scope: "activerecord.attributes.plan") %>:</dt>

  <dt><%= t(:streamer_ids, scope: "activerecord.attributes.plan") %>:</dt>
  </dd>


  <% plan.streamers.each do |streamer| %>
    <% if streamer.streamer_profile.present? %>
      <dd><%= link_to streamer.streamer_profile.name, streamer_profile_path(streamer.streamer_profile) %></dd>
    <% else %>
      <dd>Streamer sem perfil!</dd>
    <% end %>
  <% end %>
  <dt><%= t(:plan_status, scope: "activerecord.attributes.plan") %>:</dt>
  <dd><%= Plan.human_enum_name(:plan_status, plan.plan_status) %></dd>
  <dd>
    <dt><%= t(:content_playlist, scope: "activerecord.attributes.plan") %>:</dt>

  <dt><%= t(:playlist_ids, scope: "activerecord.attributes.plan") %>:</dt>
  </dd>

  <% plan.playlists.each do |playlist| %>
    <%= playlist.name %>
  <% end %>
  <%= link_to 'Assinar Plano', subscription_plan_path %>
</dl>