<!DOCTYPE html>
<html>
  <head>
    <title>Stream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if admin_signed_in? %>
        <p><%= link_to 'Ãrea do administrador', admin_area_admins_path %>
        <p><%= link_to "Sair", destroy_admin_session_path, method: :delete %></p>
      <% elsif streamer_signed_in? %>
        <p>
          <%= link_to "Meu Perfil", current_streamer.streamer_profile || new_streamer_profile_path %>
          <%= link_to "Sair", destroy_streamer_session_path, method: :delete %>          
        </p>
      <% elsif client_signed_in? %>
        <% if current_client.client_profile?%>
          <p><%= link_to 'Meu perfil', current_client.client_profile %>
        <% else %>
          <p><%= link_to 'Meu perfil', new_client_profile_path %>
        <% end %>
        <p><%= link_to "Sair", destroy_client_session_path, method: :delete %></p>
      <% else %>
        <p>
          <%= link_to "Entrar como Administrador", new_admin_session_path %>
          <%= link_to "Entrar como Streamer", new_streamer_session_path %>
          <%= link_to "Entrar como Assinante", new_client_session_path %>
        </p>
      <% end %>
      <% if notice %>
        <p class="alert alert-primary" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning" role="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
