<!DOCTYPE html>
<html>
  <head>
    <title>Stream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background text-gray-700">
    <%= render '/shared/nav_bar'%>
    <%= render '/shared/flash_notification' %>
    <div class="py-2 px-2">
      <%= yield %>
    </div>
  </body>
</html>
