<!DOCTYPE html>
<html>
  <head>
    <title>Stream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p>
        <%= link_to 'Início', root_path %>
        <% if admin_signed_in? %>
            <%= link_to "Área do administrador", admin_area_admins_path %>
            <%= link_to "Sair", destroy_admin_session_path, method: :delete %>
        <% elsif streamer_signed_in? %>
            <%= link_to "Meu Perfil", current_streamer.streamer_profile || new_streamer_profile_path %>
            <%= link_to "Sair", destroy_streamer_session_path, method: :delete %>
        <% elsif client_signed_in? %>
            <% if current_client.client_profile?%>
              <%= link_to "Meu Perfil", current_client.client_profile %>
            <% else %>
              <%= link_to "Meu Perfil", new_client_profile_path %>
            <% end %>
            <%= link_to "Sair", destroy_client_session_path, method: :delete %>
        <% else %>
            <%= link_to "Entrar como Administrador", new_admin_session_path %>
            <%= link_to "Entrar como Streamer", new_streamer_session_path %>
            <%= link_to "Entrar como Assinante", new_client_session_path %>
        <% end %>
      </p>
      <% if notice %>
        <p class="alert alert-primary" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning" role="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
